<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr />
    <p>We're using <a href="http://expressjs.com/" target="_blank">ExpressJS</a> for our backend and the <a href="https://ejs.co/" target="_blank">EJS Templating Engine</a> for displaying dynamic web pages.</p>
    <p>This website is an example for the <a href="https://disco-oauth.tk" target="_blank">Disco-OAuth</a> Node.js library. Some important links are given below: -</p>
    <ul>
      <li><a href="https://disco-oauth.tk" target="_blank">The library's documentation</a></li>
      <li><a href="https://github.com/TheDrone7/disco-oauth" target="_blank">The library's source</a></li>
      <li><a href="https://repl.it/@TheDrone7/express-ejs" target="_blank">This example's source</a></li>
    </ul>
    <hr />
    <a href="/auth/discord">Click here</a> to test this out!
  </body>
</html>
