@import url('https://fonts.googleapis.com/css?family=K2D:400,700&display=swap');
* {
  font-family: 'K2D', sans-serif !important;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #c1c1c1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #111;
}
